*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #dde9d0;
}
a {
  text-decoration: none;
}
.wrapper {
  align-items: stretch;
  display: flex;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
}

.content {
  flex: 1;
  max-width: 100vw;
  /* width: 100vw; */
}
@media (min-width: 968px) {
  .content {
    width: auto;
  }
}
.mainChartContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 20px;
  border: 1px dashed #9c9f62;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 20px 10px 20px;
}
.mainChartContainer h1 {
  border-bottom: 2px dotted #f39324;
  width: 100%;
  padding-bottom: 10px;
  color: #303b21;
  font-size: 50px;
}
.main-charts {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  /* margin-top: 20px; */
}
.separateChartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.separateChartContainer h5 {
  margin-top: 5px;
  font-size: 25px;
}
canvas {
  width: 200px !important;
  height: 200px !important;
}
/* @media screen and (max-width: 800px) {
  canvas {
    width: 350px !important;
    height: 350px !important;
  }
} */
.mainTruck_Garbage {
  margin-left: 5px;
  border-radius: 20px;
  border: 1px dashed #9c9f62;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}
.totalTrucks,
.totalGarbageTons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* padding: 10px; */
}
.totalTrucks {
  border-right: 2px dotted #9c9f62;
}
.totalTrucks img,
.totalGarbageTons img {
  margin-top: 50px;
  height: 130px;
  width: 150px;
}
#startTime,
#endTime {
  border-radius: 14px;
  padding:4px 6px;
  min-width: 170px;
  border: 1px dashed #f39324;
}
button {
  min-width: 140px;
  padding: 4px;
  border-radius: 14px;
  background-color: #f39324;
  border: none;
  color: white;
  margin-left: 5px;
}
#filterButton.disabled {
  background-color: gray;
}
.date_Time {
  border-radius: 20px;
  border: 1px dashed #9c9f62;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: -6px;
}
#currentTime {
  font-weight: bolder;
  font-size: 80px;
  color: #303b21;
  cursor: pointer;
}

#currentdate,
#currentday {
  font-size: 40px;
}
.logo {
  padding: 14px;
  margin-left: -6px;
  border-radius: 20px;
  border: 1px dashed #9c9f62;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 21px;
}

.destinationFacilityContainer {
  border-radius: 20px;
  border: 1px dashed #9c9f62;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.destinationFacilityContainer .destinationHeading {
  width: 100%;
  border-bottom: 2px dotted #f39324;
}
.destinationFacilityContainer .destinationHeading h1 {
  color: #303b21;
  /* padding-bottom: 10px; */
  font-size: 30px;
}
#destinationFacilityDataContainer {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-destination {
  display: flex;
  justify-content: center;
  width: calc(100% - 80%);
}
@media screen and (max-width: 1490px) {
  #currentTime {
    font-size: 60px;
  }
  .mainChartContainer h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 1379px) {
  .totalTrucks img,
  .totalGarbageTons img {
    height: 140px;
    width: 140px;
  }
  #currentdate,
  #currentday {
    font-size: 35px;
  }
  .mainTruck_Garbage {
    margin-left: 10px;
  }
}

@media screen and (max-width: 1178px) {
  #currentTime {
    font-size: 90px;
  }
  #currentdate,
  #currentday {
    font-size: 55px;
  }
  .totalGarbageTons img {
    height: 160px;
    width: 160px;
  }
  /* .date_Time, .logo {
    margin-left: -4px;
  } */

}
@media screen and (max-width: 990px) {
  .date_Time, .logo {
    margin-left: 0px;
  }

}
@media screen and (max-width: 950px) {
  .main-destination {
    width: calc(100% - 50%);
  }
  .destinationFacilityContainer .destinationHeading h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 600px) {
  .main-destination {
    width: calc(100%);
  }
}

.modal-content{
  background-color: #dde9d0;
width: 80%;
font-size: 20px !important;
font-weight: bold;
padding:5px 20px;
border-radius: 20px;
border: 1px dashed #9c9f62;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}
.modal-title  {
  font-weight: bold;
  font-size: 30px;
}
.btn-close {
  position: absolute;
  right: 20px;
  top: 20px;
  min-width: 10px;
}